extends layout.pug

block content
    main
        div(class="info")
            section
                h2 Who Josh is...
                p He is a #[em computer science student] at Oregon State University. Currently
                    | he works as a #[em Program Coordinator] at Seattle Children's Hospital, helping
                    | to develop their new apheresis department.
            section
                h2 What Josh is about...
                p He is all about #[em hard work], #[em discipline] and #[em minimalism]. He enjoys reading
                    | books, exploring ideas, and trialing new ways to improve himself. He has
                    | a dream of everything he owns fitting into his vehicle.
            section
                h2 What Josh likes to do...
                p He likes to make things. He enjoys writing #[em Python], tolerates writing
                    | #[em JavaScript], and absolutely adores writing #[em assembly]. When he's not writing
                    | code, he can likely be found taking long walks throughout the city in which
                    | he lives or a nearby park.
        div
            h2 Fiction I've been reading:
            span (All images from [#a(href="http://openlibrary.org/" target="_blank") http://openlibrary.org/])
            div(class="carousel_container")
                div(class="carousel_arrow")
                    img(src="images/left.png" alt="Left Arrow" id="left_arrow")
                div(class="carousel")
                    if books
                        each book in books
                            section(class="books")
                                a(href=book.url target="_blank")
                                    img(src=book.cover alt=book.bookTitle + "cover")
                                    div
                                        h3= book.bookTitle
                                        p= book.author
                div(class="carousel_arrow")
                    img(src="images/right.png" alt="Right Arrow" id="right_arrow")
